.sidebar-main{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
    background-color: rgb(246 250 255);
    width: 15vw;
    position: relative;
  }
.sidebar-main h1{
  margin: 50px;
}
.sidebar-main h1 #h1-span1{
  color: rgb(0, 180, 180);
}

.sidebar-main nav{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar-main nav ul{
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 17px;
 font-weight: 650;
 color: gray;
}
.active{
  color: black;
}
#settings{
  position: absolute;
  bottom: 50px;
}

.sidebar-main nav ul p{
  position: relative; 
  right: 25px;
   color: rgb(150, 150, 150);

}
.sidebar-main nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* @media (max-width: 768px) {
  .sidebar-main {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }

  .sidebar-main nav {
    flex-direction: row;
    gap: 20px;
  }

  .sidebar-main nav ul {
    flex-direction: row;
    gap: 10px;
  }

  #settings {
    position: static;
  }
} */
