.dashboard-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38vw;
  }
  .dashboard-main {
  width: 38vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.dashboard-main .input {
  width: 90%;
  border: 0.1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 50px auto;
  display: flex;
  align-items: center;
}
.dashboard-main input {
  width: 95%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  /* margin: 50px auto; */
}
.dashboard-main .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}
.dashboard-main .heading h1 {
  color: #390099;
}
.dashboard-main .heading span {
  color: rgb(35, 35, 170);
}

.main-dash {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  margin-top: 9px;
}
.main-dash-left {
  /* border: 2px solid ; */
  background-color: rgb(246 250 255);
  border-radius: 40px;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  position: relative;
  min-height: 550px;
}
.main-dash-left img {
  width: 100%;
  max-width: 25vw;
}
.main-dash-left span {
  position: absolute;

  border-radius: 8px;
  background-color: #390099;
  color: white;
  padding: 8px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.main-dash-left #span-1 {
  left: 50%;
  top: 23%;
  transform: translateX(40%);
}
.main-dash-left #span-2 {
  right: 53%;
  bottom: 27%;
  transform: translateX(-40%);
  background-color: #2d9ab6;
}

.bottom-bar {
  width: 200px;
  height: 5px;
  background-color: #ccc;
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.bottom-bar p {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  /* margin: auto; */
    border-radius: 50px;

}
.main-dash-right{
    position: relative;
}
.main-dash-right .details{
 position: absolute;
 right: 10px;  
 color: rgb(35, 35, 170);
 cursor: pointer;
}
.main-dash-right-com{
      background-color: rgb(246 250 255);
       display: flex;
       flex-direction: column;
       /* align-items: center; */
       /* justify-content: space-around; */
       width: 13vw;
       height: 150px;
       margin-bottom: 20px;
       border-radius: 30px;
}
.main-dash-right-com h2{
    color: #390099;
    margin: 20px auto;
    
}
.main-dash-right-com span{
    color: gray;
    margin: 5px 20px;
}
.main-dash-right-com .percent{
    background-color: #ccc;
    width: 160px;
    height: 12px;
    border-radius: 10px;
    margin: 0 auto;
}
.main-dash-right-com .percent p{
        background-color: rgb(182, 1, 1);
    width: 80%;
    height: 12px;
    border-radius: 10px;
}




@media (max-width: 768px) {
  .main-dash {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main-dash-left,
  .main-dash-right {
    width: 100%;
    margin-inline: 0;
  }

  .main-dash-left img {
    width: 100%;
  }
}